@model AlloyMvcTemplates.Models.ViewModels.MenuItemViewModel

@{
    var listId = "l" + Guid.NewGuid().ToString("n");

    string GetClassByLevel()
    {
        switch (Model.Level)
        {
            case 1:
                return "p-2 text-lg font-bold";
            case 2:
                return "pl-6 pr-2 py-2 text-lg";
            case 3:
                return "pl-9 pr-2 py-3 text-base";
            case 4:
                return "pl-12 pr-2 py-3 text-sm";
        }

        return "pl-12 pr-2 py-3 text-sm";
    }
}

<li>
    <div class="flex justify-between w-[300px] sm:w-[500px]" data-controller="tree">
        <div class="@GetClassByLevel() flex items-center">
            <a class="hover:outline-black focus:outline-black p-[3px] leading-snug" href="@Model.LinkUrl">@Model.Text</a>
        </div>
        @if (Model.ChildItems != null && Model.ChildItems.Count > 0)
        {
            <div class="pr-2">
                <button data-tree-target="button" data-action="click->tree#toggle touch->tree#toggle" type="button"
                        data-aria-controls="@listId"
                        class="flex items-center justify-center bg-alloy-100 text-black hover:outline-black focus:outline-black p-[3px] my-[6px]">
                    <div class="js-content-collapsed p-2">
                        <span class="sr-only">Open @Model.Text</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                    </div>
                    <div class="js-content-expanded hidden p-2">
                        <span class="sr-only">Close @Model.Text</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4"></path></svg>
                    </div>
                </button>
            </div>
        }
    </div>

    @if (Model.ChildItems != null && Model.ChildItems.Count > 0)
    {
        <ul id="@listId" class="hidden">
            @foreach (var child in Model.ChildItems)
            {
                @await Html.PartialAsync("~/Views/Shared/Components/Menu/NavMenuItem.cshtml", child)
            }
        </ul>
    }
</li>
