@using EPiServer.Framework.Web.Mvc.Html
@using AlloyTemplates.Business
@model IPageViewModel<SitePageData>
<!DOCTYPE html>
<html lang="@(Model.CurrentPage.Language)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/inter-roman-var.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous" />
    <link href="/dist/inter-italic-var.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous" />
    <title>@Model.CurrentPage.MetaTitle</title>
    @if (Model.CurrentPage.MetaKeywords != null && Model.CurrentPage.MetaKeywords.Count > 0)
    {
        <meta name="keywords" content="@string.Join(",", Model.CurrentPage.MetaKeywords)" />
    }
    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta name="description" content="@Model.CurrentPage.MetaDescription" />
    }
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    <script src="/dist/main.js" async asp-append-version="true"></script>
    @if (Model.Layout.ContextMode is ContextMode.Edit or ContextMode.Preview)
    {
        <meta name="turbo-visit-control" content="reload" />
    }
</head>
<body class="m-0 bg-white">
    @if (Model.Layout.IsInReadonlyMode)
    {
        await Html.RenderPartialAsync("Readonly", Model);
    }

    @*@await Html.RenderEPiServerQuickNavigatorAsync()*@

    @Html.FullRefreshPropertiesMetaData()

    @if(!Model.Layout.HideHeader)
    {
        await Html.RenderPartialAsync("Header", Model);
    }

    <div class="max-w-[1000px] mx-auto">
        @RenderBody()
    </div>

    @if(!Model.Layout.HideFooter)
    {
        await Html.RenderPartialAsync("Footer", Model);
    }
</body>
</html>
