@using EPiServer.Core
@using EPiServer.Web
@*Helper used as template for a page in the bread crumb, recursively triggering the rendering of the next page*@
@{
    HelperResult ItemTemplate(HtmlHelpers.MenuItem breadCrumbItem)
    {
        if (breadCrumbItem.Selected)
        {
            if (breadCrumbItem.Page.HasTemplate() && !breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
            {
                @Html.PageLink(breadCrumbItem.Page)
            }
            else
            {
                @breadCrumbItem.Page.PageName
            }
            if (!breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
            {
                <span class="divider">/</span>
                @Html.MenuList(breadCrumbItem.Page.ContentLink, ItemTemplate)
            }
        }
        return new HelperResult(w => Task.CompletedTask);
    }
}


<div class="my-6 px-3 text-sm text-gray-800 prose min-w-full">
    @Html.ContentLink(SiteDefinition.Current.StartPage)
    <span class="text-black">/</span>
    @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate, requireVisibleInMenu: false, requirePageTemplate: false)
</div>  