@model IPageViewModel<SitePageData>
<div class="border-t mt-6 bg-alloy-50">
    <h2 class="sr-only">Shortcuts</h2>
    <div class="flex flex-col sm:flex-row sm:justify-center">
        <div class="p-6 sm:px-10">
            <h3 class="font-bold">@Html.Translate("/footer/products")</h3>
            @Html.PropertyFor(x => x.Layout.ProductPages)
        </div>
        <div class="p-6 sm:px-10">
            <h3 class="font-bold">@Html.Translate("/footer/company")</h3>
            @Html.PropertyFor(x => x.Layout.CompanyInformationPages)
        </div>
        <div class="p-6 sm:px-10">
            <h3 class="font-bold">@Html.Translate("/footer/news")</h3>
            @Html.PropertyFor(x => x.Layout.NewsPages)
        </div>
        <div class="p-6 sm:px-10">
            <h3 class="font-bold">@Html.Translate("/footer/customerzone")</h3>
            @Html.PropertyFor(x => x.Layout.CustomerZonePages)
            <ul>
                <li>
                    @if (Model.Layout.LoggedIn)
                    {
                        @Html.ContentLink(LocalizationService.Current.GetString("/footer/logout"), "Logout")
                    }
                    else
                    {
                        if (!Model.Layout.IsInReadonlyMode)
                        {
                            <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
